.aboutus-details{
    h1{
        font-size: 40px;
        cursor: pointer;
        margin-top: 60px;
        color: #84b41b;
       margin-left: 60px;

    }
    p{
        color: rgb(78, 70, 70);
        font-size: 16px;
        cursor: pointer;
        text-align: justify;
        margin-left: 60px;
        margin-right: 60px;
    }
}
